<img src="img/cover.svg" id="cover" class="hide" />
<h1 id="intro" class="hide">Your daughter is in the plant. You are going to find her.</h1>
<div id="journal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
   <h1>JOURNAL</h1>
   <p>This is a record of your journey through the plant.</p>
   <hr class="journalDivider" />
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<section id="contentSection" class="content row hide bgHack">
<div id="content" class="small-12 columns">
