<nav class="top-bar hide" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <p><img src="img/icon-tight.svg" style="height:15px; margin-bottom: 3px;">&nbsp;&nbsp;THE PLANT</p>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <!--<li><a data-reveal-id="journal"><img src="img/white-book.svg" style="height: 20px;" alt="your journal - where you've been so far" data-tooltip aria-haspopup="true" class="has-tip" title="your journal - where you've been so far"></a></li>-->
      <!--<li><a data-reveal-id="journal"><img src="img/white-book.svg" style="height: 20px;" alt="Don't click this... it breaks things really bad" data-tooltip aria-haspopup="true" class="has-tip" title="Don't click this... it breaks things really bad"></a></li>-->
      <li><a data-reveal-id="journal"><img src="img/white-book.svg" style="height: 20px;"></a></li>
      <li><a><img src="img/terror.svg" style="height: 30px;" alt="your fear score" data-tooltip aria-haspopup="true" class="has-tip" title="your fear score"> <span id="fear">0</span></a></li>
      <li><a><img src="img/angry-eyes.svg" style="height: 30px;" alt="your anger score" data-tooltip aria-haspopup="true" class="has-tip" title="your anger score"> <span id="anger">0</span></a></li>
    </ul>
  </section>
</nav>
