/* put your styles here */

@font-face {
   font-family: 'black_gothic';
   src: url('fonts/black-gothic.woff2') format('woff2'),
        url('fonts/black-gothic.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'gloriahallelujah';
   src: url('fonts/gloriahallelujah.woff2') format('woff2'),
        url('fonts/gloriahallelujah.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.content {
   background-color: #fff;
}

.top-bar .title-area .name p {
   color: #fff;
   padding-left: 1em;
   font-family: 'black_gothic';
   letter-spacing: 0.3em;
}

.top-bar-section .right li a {
   height: 45px;
}

.clickForMore {
   font-size: 400%;
   cursor: pointer;
}

.fullBleed {
   max-width: 100%;
   width: 100%;
}

body:before { /* preload bottom border images */
   content: url('../img/1.svg') url('../img/2.svg') url('../img/3.svg') url('../img/4.svg') url('../img/5.svg') url('../img/6.svg') url('../img/7.svg') url('../img/8.svg') url('../img/9.svg') url('../img/10.svg') url('../img/11.svg') url('../img/12.svg') url('../img/13.svg') url('../img/14.svg') url('../img/15.svg') url('../img/16.svg') url('../img/17.svg') url('../img/18.svg') url('../img/19.svg') url('../img/20.svg') url('../img/21.svg') url('../img/22.svg') url('../img/23.svg') url('../img/24.svg') url('../img/25.svg') url('../img/26.svg') url('../img/27.svg') url('../img/28.svg') url('../img/29.svg') url('../img/30.svg') url('../img/31.svg') url('../img/32.svg') url('../img/down.svg') url('../img/99.svg') url('../img/bg.svg');
   display: none;
}

 #cover {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right:0;
   cursor: pointer;
}

#fear, #anger {
   font-family: 'black_gothic';
}

#intro {
   font-family: 'black_gothic';
   color: #fff;
   cursor: pointer;
   text-align: center;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

#journal h1 {
   font-family: 'black_gothic';
}

#plantImage {
   background-color: #cfc;
   background-color: #fff;
   padding: 0;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   right: 0;
   left: 0;
}

#contentSection.bgHack {
   height: 100%;
}

$has-tip-border-bottom: none;

textarea {
   font-family: 'gloriahallelujah', cursive !important;
}

body.bgHack {
   background: #000 url('../img/bg.svg') no-repeat !important;
   background-attachment: fixed !important;
   background-position: center !important;
}

.detailCard {
   font-family: 'gloriahallelujah', cursive !important;
}

.down {
   font-family: 'black_gothic';
   font-size: 500%;
   text-align: center;
}

.double ~ #continueButton {
   margin-bottom: 20em;
}

.journalDivider {
   border: 0;
   height: 3px;
   background: #000;
}