@font-face {
   font-family: 'gloriahallelujah';
   src: url('gloriahallelujah.woff2') format('woff2'),
        url('gloriahallelujah.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}